:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --light-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --black-color: #000000;
  --white-opacity-color: rgba(255, 255, 255, 0.6);
}
/*студия*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */
}

/* ========= Хедер ======== */
.header .container {
  display: flex;
  align-items: center;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 93px;
}

.logo,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.logo-web {
  color: var(--accent-color);
}

.nav-link,
.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--title-text-color);
}

.contacts-link {
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.contact-info-link:hover,
.contact-info-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* =========== Герой ========== */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-bg-color);
}

.hero .container {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.modal-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* =========== Приоритеты ========== */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  align-items: center;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-item {
  width: calc((100% - 3 * 30px) / 4);
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text,
.footer-address,
.contact-info-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* =========== Чем мы занимаемся ========== */
.about {
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  margin: -15px;
}

.about-list-item {
  margin: 15px;
}

.about .title {
  margin-bottom: 50px;
}

/* =========== Команда ========== */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin: -15px;
}

.team-list-item {
  margin: 15px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light-bg-color);
}

/* =========== Футер ========== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--white-color);
}

.footer {
  background-color: var(--dark-bg-color);
}

.address {
  margin-top: 20px;
}

.footer-address {
  color: var(--white-color);
}

.contact-info-link {
  color: var(--white-opacity-color);
}

.contact-info-list {
  margin-top: 9px;
}

.contact-info-list-item:not(:last-child) {
  margin-bottom: 9px;
}

/* ========== Портфолио ==========*/

.line {
  border-bottom: 1px solid #ececec;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-buttons-list-item {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--light-bg-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-list-item {
  margin: 15px;
  outline: 1px solid #eeeeee;
}

.portfolio-list-content {
  padding: 20px 24px;
  background-color: var(--white-color);
}

.portfolio-list-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
